div.vraagstudent{
    background-color:lightgreen;
    padding:6px;
    border:aquamarine;
    
    
}
div.codestudent{
    background-color:lightsalmon;
    padding:6px;
    font-family: courier;
    
}
div.uitlegstudent{
    background-color:lightgray;
    padding:6px;
    
}



a.mainvlak{
    padding : 8px;
    background-color: blue;
    float: left;
}
a{
    color:black;
    text-decoration: none;    
}
a.mainvlakred{
    padding : 8px;
    background-color: red;
    float: right;
}
a.mainvlak:hover{
    background-color: aqua;
}
.menup:after{
    display:block;
    background-color:yellow;
    clear: both;
}
div > span {
}
div.vraagbeheer{
    background-color: orange;
    margin : 4px;
    padding : 2px;
}
span{
}
span.vraagtekstbeheer{
    margin:0px;
    background-color: green;
}
span.vraagcodebeheer{
    margin:0px;
    background-color: red;
}
span.vraagtoelichtingbeheer{
    margin:0px;
    background-color: gray;
}
table td, th{
    background-color:lightgray;
}
textarea{
    width:90%;
    height:100px;
}